/******************by 6*****************/
#HeaderWrap{ background-color: #1c1c1c; width:100%; float: left;}
#HeaderWrap .navbar{ margin-bottom: 0px;}
#HeaderWrap .navbar-default{ background-color: transparent; border-width:0px; }
#HeaderWrap .container{ width:100%; padding: 0px; margin-left:0px;}
#HeaderWrap .container .navbar-brand { margin:8px 0px; padding: 0px; float: left; height:auto; }
#HeaderWrap .container .mainLogo{ height:42px; float: left; max-width: 100%; }
#HeaderWrap .navbar-default .navbar-nav>li>a{ color:#fff;}
#HeaderWrap .navbar-default .navbar-nav>li>a:hover{ color:#ff1f2c; background-color: transparent;}

.rightSide{ float: right;}
.leftSide{ float: left;}
.headerNav{ margin: 4px 0px; margin-left: 15px;}


  




