.SqaureText {
    border-radius: 0%
}

loginBoxWrap{ width:90%; max-width: 400px; margin: 100px auto ;}
.logoWrap{ width:100%; float: left; text-align: center; padding: 10px; box-sizing: border-box;}


.Formpagewrap{   
    margin-left:2%;
    padding: 45px;
    width:68%;
    height: 61vh;
}
.Formbuttonwrap{ 
    margin-left: 35%;
    margin-top:10%;
}

.form-style {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;    
}

.radioBtnError .errorTxt {
    right: inherit;
    left: 0px;
    top: 26px;
}

.zip  input[type=number]::-webkit-inner-spin-button, .zip input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
