.loginBox form { width:100%; float:left; }

.title_h1.forgotTitle{ text-align: left; font-weight: 300;  font-size: 24px;  margin-bottom: 20px;}
.forgotTitle .signInTxt{font-weight: normal; font-size: 14px;  padding-top: 5px;  text-align: left; }

