.Quickpagewrap{
    margin-left: 30%;
    margin-top: 16%;
    padding-left:13%;
    width: 50%;
 }
 
 
 .yourname {
     font-style: Arial;
     font-size: 12px;
    
 }
 
 
 .next {
     padding-top:15%;
 }
 label {
 
     font-weight: 400;
 
 }
 .nextbtn
 
 {
    width:24%;
    border-radius: 1px;
    border: 2px;
    height: 30px;
    width:100px;
    margin-left: 10px;
    background-color:#a6a6a6;
    color: white;
    
    
 }

.file { position: relative; height: 30px; width: 100px; margin-left: 60px;}
.file > input[type="file"] { padding-top: 5px; padding-left: 20px;position: absoulte; opacity: 0.6; top: 0; left: 0; right: 0; bottom: 0 }
.file > label { margin-bottom: 0px; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color:#a6a6a6; color: #fff; line-height: 30px; text-align: center; cursor: pointer; }

 
 .form-style {
     width: 100%;
     max-width: 350px;
     margin: 0 auto;    
 }
 
 
 
 .btn-back {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding-right: 10%;
    padding-left: 10%;
}
 

.btn {

    border-radius: 2px;
    padding-top: 5px;
 }


 .formBtnWrap{ width:100%; float: left; text-align: center; padding:30px 0px;}
 .formBtn{     border-radius: 2px;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    min-width: 100px;
    margin: 0px 5px;
    background-color: #7b7b7b;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    border: 0px;
}
.formBtn:disabled{ opacity: 0.6;}
.formBtn:hover{ background-color: #555; }

.form-group{ position: relative;}
.errorTxt {
    color: #D8000C;
    background-color: #FFBABA;
    position: absolute;
    right: 0px;
    top: 62px;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 1;
    min-width: 120px;
}
.errorTxt:before{ position: absolute; content: ''; border-bottom: 6px solid #FFBABA; border-left:6px solid transparent; border-right:6px solid transparent; right: 10px;
    top: -6px;
 }

.browseicon{

    font-size: larger;
}

@-moz-document url-prefix() {
    .file > input[type="file"]  {padding-left:28px;}
}